/*=================================================================================
// CSS file for the website the movie management system website app
// Author Name: Van Minh Le
// Student ID: 100693330
// Major: Use Version Control in Development Environments
//================================================================================= */

/* PART 01: DEFAULT SETTINGS FOR ALL ELEMENTS ON THE WEBSITE */
/* Styling for all elements in the website */
* {
    box-sizing: border-box;
}

/* Styling for body website */
body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    margin: 0px;
    transition: background 0.3s, color 0.3s;
    height: 100%;
}

/* Styling main section */
main {
    padding: 5px;
    max-width: 1500px;
    margin: auto;
}

/* Styling default all button */
button {
    font-size: 16px;
    font-weight: 600;
    background-color: #ff0000;
    cursor: pointer;
}

.active {
    color: white;
    background-color: rgb(192, 0, 0);
}

/* Styling default all input box */
input {
    height: 40px;
    width: 100%;
    padding: 20px;
    outline: none;
    border: 1px solid #333;
    border-radius: 20px;
}

/* Styling for input box when it is focused */
input:focus {
    border: 3px solid red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

/*END PART 01: DEFAULT SETTINGS FOR ALL ELEMENTS ON THE WEBSITE */

/* PART 02: SETTINGS FOR SPECIFIC ELEMENTS ON THE WEBSITE */

/* HEADER ON THE WEBSITE*/
/* Styling for navigation menu bar */
nav {
    z-index: 10;
    /* Make sure the header is on top of other elements */
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    position: sticky;
    top: 0;
    padding-left: 50px;
    padding-right: 50px;

    /* Styling for MOVIES logo */
    .logo {
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 0px;
    }

    /* Styling for menu */
    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        /* Styling for items in menu */
        li {
            margin-left: 50px;
            display: flex;
            justify-items: center;
            align-items: center;
        }

        /* Styling for link */
        a {
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            transition: color 0.3s ease;

            &:hover {
                color: #ff6347;
            }
        }

        /* Styling for active state of the link on the navigation bar */
        .current {
            color: #ff0000;
        }

    }
}

/* DARK MODE BUTTON */
/* Styling for Dark mode and Light Mode */
/* Create dark mode button */
/* Hidden checkbox */
#toggle {
    display: none;
}

/*Draw slider switch button */
/* Cover */
.toggle-label {
    color: #000000;
    cursor: pointer;
    width: 100px;
    height: 40px;
    background: #ddd;
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 2px;
    transition: background 0.3s;

    /* Draw Moving circle */
    &:before {
        content: "";
        /* Draw a circle with radius 20px */
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #000000;
        position: absolute;
        left: 4px;
        transition: transform 0.3s;
    }
}

/* Dark mode when checkbox is checked */

/* Change the background and circle color */
#toggle:checked+.toggle-label {
    background: #333;
    border: 1px solid white;
}

#toggle:checked+.toggle-label::before {
    transform: translateX(62px);
    background: yellow;
}

/* Change body background colour from white to black */
body:has(#toggle:checked) {
    background-color: rgb(25, 25, 25);
    color: white;

    /* Change colour for display section header text */
    #displayMovies h2 span {
        color: white;
    }

    /* Chang colour cover hero make sure hero image is blur */
    .hero::before {
        background-color: rgba(0, 0, 0, 0.315);
    }
}


/* HERO PART ON THE WEBSITE */

/* Stying for Hero */
.hero {
    /* Hero image for the website */
    position: relative;
    z-index: 1;
    background-image: url('../img/MovieLibraryHero.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    text-align: center;
    color: white;

    /* Make a cover to blur hero make sure all header elements of hero to ability reader */
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(79, 79, 79, 0.315);
        z-index: -1;
    }

    /* Styling header of the hero */
    h1 {
        z-index: 1;
        width: 100%;
        padding: 10px;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 40px;
        text-transform: uppercase;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4),
            0px 2px 1px rgba(0, 0, 0, 0.1),
            0px 8px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 0;

        span {
            font-size: 70px;
            color: #ff0000;

        }
    }

    /* Styling for paragraph of the hero */
    p {
        font-size: 18px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 10px 20px;
        margin: 0;
    }
}

/* Styling for Display section */
#displayMovies {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;

    /* Styling for Display section header text */
    h2 {

        /* Make up for span */
        span {
            color: black;
            font-size: 40px;
        }
    }

    .table-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ff0000;

        /* Styling for Refresh button */
        .refresh-button {
            color: #ff0000;
            background-color: #ffffff00;
            border: 5px solid #ff0000;
            cursor: pointer;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            font-size: 30px;
            padding: 0px;
            box-shadow: 0 0 10px #ff0000;
            transition: transform 0.3s ease-in-out;

            /* Styling hover effect for Refresh button  */
            &:hover {
                background-color: #ff0000;
                color: white;
                transform: rotate(360deg);
                border: none;
            }
        }

    }

}


/* Styling for Movie Data Table */
table {
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
    margin: 0px 20px 20px 0px;
    table-layout: fixed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    /* Styling for table header */
    thead tr {
        background-color: #333;
        color: white;
        border: 1px solid;
        text-transform: uppercase;

        /* Styling for table header data */
        th {
            text-align: center;
            border: 1px solid;
        }
    }

    /* Styling for table body */
    tbody {

        /* Styling adjust background color for table body data */
        tr:nth-child(even) {
            background-color: #e6e6e675;
        }

        tr:nth-child(odd) {
            background-color: #ffffff9a;
        }

        /* Styling effect hover for table body data */
        tr:hover {
            background-color: #5a5a5a3a;
            font-weight: 600;

        }
    }

    /* Styling for table data */
    th,
    td {
        padding: 8px;
        text-align: left;
        width: 20%;
        font-size: 1.2em;
    }

    /* Ensure the title column fits its content */
    .title {
        width: 40%;
    }

    /* Styling for table data in table body */
    td {
        border: 1px solid #ddd;
        text-align: left;
    }

}

/* END OF HEADER OF THE WEBSITE */

/* TOGGLE BUTTONS SECTION */
/* Button container for toggling visualization options */
.toggle-button-container {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Styling for toggle button */
    .toggle-button {
        width: 100%;
        height: 40px;
        color: white;
        transition: ease-in-out 0.3s;
        border: none;
        margin-bottom: 20px;

        /* Styling effect hover for toggle button */
        &:hover {
            border: 1px solid rgb(255, 0, 0);
            background-color: rgba(255, 255, 255, 0);
            color: #ff0000;
            transform: translateY(5px);
        }
    }
}

/* ADD A MOVIE SECTION */
.add-movies-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;

    /* Styling for Add a movie section header text */
    h2 {
        margin: 0;
        margin-bottom: 0px;
        font-size: 25px;
    }

    /* Styling for Add a movie section paragraph text */
    p {
        color: #ff0000;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .add-movie-input-container {
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 0px;

        /* Styling for header of input field */
        h3 {
            margin-top: 0;
            margin-left: 20px;
            margin-bottom: 10px;
        }

        /* Styling for input field */
        .movieID-input-wrap {
            width: 20%;
            padding: 0px 5px 0px 0px;
        }

        .movie-title-input-wrap {
            width: 40%;
            padding: 0px 5px 0px 0px;
        }

        .movie-year-input-wrap {
            width: 20%;
            padding: 0px 5px 0px 0px;
        }

        .movie-rating-input-wrap {
            width: 20%;
        }

    }

    /* Styling for function button */
    .add-button-container {
        display: flex;
        gap: 20px;
        border-radius: 20px;

        /* Styling for Add a movie button */
        #addMovieBtn {
            background-color: #ff0000;
            border: none;
            color: white;
            height: 40px;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            transition: ease-in-out 0.3s;

            /* Styling effect hover for add a movie button */
            &:hover {
                transform: scale(1.15);
                border-radius: 20px;
                background: #ff0000;
                color: white;
                box-shadow: 0 0 10px rgb(255, 35, 35);
            }
        }

        /* Styling for Clear input box button */
        #clearInputBox {
            display: none;
            cursor: pointer;
            border: none;
            border-radius: 10px;
            padding: 10px 20px;
            background-color: rgba(255, 255, 255, 0);
            color: #ff0000;
            box-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
            transition: ease-in-out 0.3s;

            /* Styling effect hover for clear input box button */
            &:hover {
                border-radius: 20px;
                background: #ff0000;
                color: white;
                box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
            }
        }

    }
}

/* SEARCH MOVIE SECTION */
.search-movies-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;

    /* Styling for Search movie section header text */
    h2 {
        margin: 0;
        margin-bottom: 0px;
        font-size: 25px;
    }

    /* Styling for Search movie section paragraph text */
    p {
        margin-top: 0px;
        margin-bottom: 20px;
        color: #ff0000;
    }
    /* Styling for search field */
    .search-input-group {
        display: flex;
        /* Styling for input box */
        input {
            width: 500px;
            border-radius: 20px 0px 0px 20px;
            height: 50px;
            border-color: #ff0000;
        }
        /* Styling for search by id button */
        #searchByIDBtn {
            border: 1px solid #ff0000;
            height: 50px;
            background-color: #c70000;
            color: white;
            transition: ease-in-out 0.3s;
            /* Styling effect hover for search by id button */
            &:hover {
                background-color: rgba(255, 255, 255, 0);
                color: #ff0000;
            }
        }
        /* Styling for search by title button */
        #searchByTitleBtn {
            border-radius: 0px 20px 20px 0px;
            border: 1px solid #ff0000;
            background-color: #ff0000;
            color: white;
            transition: ease-in-out 0.3s;
            /* Styling effect hover for search by title button */
            &:hover {
                background-color: rgba(255, 255, 255, 0);
                color: #ff0000;
            }
        }
    }
}

/* DATA TOOLS SECTION - sort and reset data functions */
.data-tool-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    /* Styling for data tools header */
    h2 {
        margin: 0;
        margin-bottom: 0px;
        font-size: 25px;
    }
    /* Styling for data tools paragraph text */
    p {
        margin-top: 0px;
        margin-bottom: 20px;
        color: #ff0000;
    }

    .data-tool-button-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        /* Styling for sort buttons */
        button {
            padding: 10px 30px;
            height: 40px;
            width: 100%;
            border-radius: 10px;
            border: none;
            background-color: rgb(192, 0, 0);
            color: white;
            transition: ease-in-out 0.3s;
            /* Styling effect hover for sort buttons */
            &:hover {
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(255, 0, 0, 1);
                color: #ff0000;
                background-color: rgba(255, 255, 255, 0);
            }
        }
        /* Styling for reset data button */
        .reset-data-button {
            margin-left: 20px;
            padding: 0px;
            width: 70px;
            height: 70px;
            margin-bottom: 20px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0);
            color: #ff0000;
            border: 5px solid red;
            font-size: 30px;
            text-align: center;
            box-shadow: 0 0 10px #ff0000;
            transition: ease-in-out 0.3s;
            /* Styling effect hover for reset data button */
            &:hover {
                border-radius: 50%;
                background-color: #ff0000;
                transform: rotate(360deg);
                color: white;
            }
        }

    }

}

/* Reset data confirmation form */
.modal {
    background-color: rgba(0, 0, 0, 0.5);
    /* Overlay */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 11;

    .modal-content {
        color: #000000;
        z-index: 12;
        background-color: white;
        padding: 30px;
        border-radius: 8px;
        width: 550px;
        text-align: center;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }
    /* Styling for modal header text */
    h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    /* Styling for modal paragraph text */
    p {
        font-size: 15px;
        color: #ff0000;
        margin-bottom: 20px;
    }
    /* Styling for buttons container */
    .buttons-container {
        display: flex;
        justify-content: center;
    }
    /* Styling for buttons in modal */
    button {
        padding: 10px 30px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin: 10px;
    }
    /* Styling for cancel button */
    .cancel-btn {
        background-color: #333 !important;
        color: white;
        transition: ease-in-out 0.3s;
        /* Styling effect hover for cancel button */
        &:hover {
            background-color: white !important;
            border: 1px #333 solid;
            color: #333;
            transform: scale(1.1);
        }
    }
    /* Styling for confirm button */
    .confirm-btn {
        background-color: #ff0000;
        color: white;
        transition: ease-in-out 0.3s;
        /* Styling effect hover for confirm button */
        &:hover {
            background-color: white;
            color: #ff0000;
            border: 1px solid #ff0000;
            transform: scale(1.1);
        }
    }
}

/* FOOTER ON THE WEBSITE */
/* Styling for footer */
footer {
    text-align: center;
    background-color: rgb(139, 46, 46);
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
}