:root {
    --primary-colour:#212529;
    --secondary-colour: #A66D3C;
    --tertiary-colour: #ff1500;
    --light-colour: #fff;
    --font-main: "Roboto", sans-serif;
    --font-size-base: 16px;
    --border-radius: 8px;
}

* {
    box-sizing: border-box;
}
body{
/* background-color: #8C7158; */
/* background-color: #212529; */
    
}
.container {
    font-family: var(--font-main);
    font-size: var(--font-size-base);
    color: var(--primary-colour);
    max-width: 1440px;
}


footer {
    margin: auto;
    max-width: 1440px;
}
